.grid-container {
  margin: 20px;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

h1 {
  display:flex;
  justify-content:center;
}

ul {
  list-style-type:none;
  font-size: medium;
}

/deep/ .mat-card-header-text {
  color: #E9AD2F;
}

.mat-card-header .mat-card-title {
  font-size: 25px;
}

.win {
  color: lime;
}

.lose {
  color: red;
}

.neutral {
  color: #EAE56C;
}

.match-result {
  margin: 5px
}

::ng-deep .mat-card-header{
  padding:5px !important;
}

::ng-deep .mat-card{
  padding:0 !important;
}

::ng-deep .mat-table {
  background: none;
}

.mat-elevation-z8 {
  box-shadow: none;
}

mat-card {
  background-color: #191919;
}

mat-divider {
  background-color: #5e5e5e;
  position: relative !important;
}

table {
  width: 100%;
}

/deep/ .mat-header-cell {
  color: #5e5e5e;
  text-align: center !important;
}

td {
  text-align: center;
}

.mat-elevation-z8 {
  text-align: left;
}

h1 {
  color: #EAE56C;
}

mat-card-content {
  margin-top: 10px;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.left-orient {
  padding-left: 0% !important;
}

.right-orient {
  justify-content: right;
}

/deep/ .mat-tab-label {
  color: fuchsia;
}