<div class="mat-elevation-z8 app-duelers">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row"><img src="https://crafatar.com/avatars/{{row.player.uuid}}?size=32"><a routerLink="/player/{{row.player.id}}" class="mat-row-link"></a></td>
    </ng-container>

    <ng-container matColumnDef="uuid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.player.name}}</td>
    </ng-container>

    <ng-container matColumnDef="wins">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Wins</th>
      <td mat-cell *matCellDef="let row">{{row.wins}}</td>
    </ng-container>

    <ng-container matColumnDef="losses">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Losses</th>
      <td mat-cell *matCellDef="let row">{{row.losses}}</td>
    </ng-container>

    <ng-container matColumnDef="elo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Elo</th>
      <td mat-cell *matCellDef="let row">{{row.elo}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50, 100, 250]">
  </mat-paginator>
</div>