.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}

h1 {
  display:flex;
  justify-content:center;
}

.mat-card {
  background-color: #191919;
}

mat-card-title {
  color: #E9AD2F;
}

mat-divider {
  background-color: #5e5e5e;
}

mat-card-content {
  margin: 10px;
}

h1 {
  color: #EAE56C;
}